<h1>Bonjour, confimer votre mail s'il vous plaît !</h1>

<p>
   Veuillez confirmer votre mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
