<!DOCTYPE html>

<title>New MissionHistory</title>

{% block body %}
    <h1>Create new MissionHistory</h1>

    {{ include('back/mission_history/_form.html.twig') }}

    <a href="{{ path('back_mission_history_index') }}">back to list</a>
{% endblock %}