{% extends 'base_hero.html.twig' %}

{% block title %}Mise à jour de la mission{% endblock %}

{% block body %}
    <h1>Mise à jour de la mission</h1>

    {{ include('hero/_form.html.twig') }}

    <a href="{{ path('hero_missions') }}">Retour</a>
{% endblock %}