<form method="post" action="{{ path('back_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet évènement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn">Supprimer</button>
</form>
