{% extends 'base_back.html.twig' %}

{% block title %}Création d'un évènement{% endblock %}

{% block body %}
    <h1 class="text-3xl text-black pb-6">Création d'un évènement</h1>

    {{ include('back/event/_form.html.twig') }}

    <br>
    <div class="max-w-sm w-24 bg-white shadow sm:rounded-md overflow-hidden">
        <div class="px-6 py-4">
            <a href="{{ path('back_event_index') }}" class="no-underline hover:underline ...">Retour</a>
        </div>
    </div>
{% endblock %}
