<form method="post" action="{{ path('back_ability_delete', {'id': ability.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette abilité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ability.id) }}">
    <button class="btn">Supprimer</button>
</form>