{% extends 'base_back.html.twig' %}

{% block title %}Modifier une abilité{% endblock %}

{% block body %}
    <h1>Edit Ability</h1>

    {{ include('back/ability/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_ability_index') }}">Retour</a>
{% endblock %}