{% extends 'base_front.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
    <section class="bg-white-50 dark:bg-gray-900">
        <div class="md:h-screen lg:py-0">
            {{ include('front/user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
