<!DOCTYPE html>

<title>Modifier son profile</title>

{% block body %}
    <h1>Modifier son profile</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('front_default_index') }}">Retour au menu</a>
{% endblock %}
