<!DOCTYPE html>

<title>Créer un utilisateur</title>

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('back_user_index') }}">back to list</a>
{% endblock %}
