<form method="post" action="{{ path('back_mission_type_delete', {'id': mission_type.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ce type de mission ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission_type.id) }}">
    <button class="btn">Supprimer</button>
</form>
