{% extends 'base_back.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1 class="text-3xl text-black pb-6">Modifier mon profil</h1>

    {{ include('back/profil/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('back_default_index') }}">Retour</a>
{% endblock %}
