+<div class="mail-template" id="mission-accepted">
+    <h2>Cher {{mission.user.firstname}},</h2>
+    <p>
+        Votre mission a été accepté par <h2>{{hero.name}}</h2>.
+    </p>
+    <p>
+        Vous pouvez le contacter via son email : {{hero.user.email}}.
+    </p>
+    <p>
+        Pour plus d'informations, rendez-vous sur votre <a href="www.herocall.fr">espace personnel</a>.
+    </p>
+    <p>
+        Cordialement,
+        <br />
+        L'équipe de HeroCall
+    </p>
+</div>