+<div class="mail-template" id="mission-updated">
+    <h2>Cher {{mission.user.firstname}},</h2>
+    <p>
+        Votre mission "{{mission.name}}" a été mise à jour.
+    </p>
+    <p>
+        Vous pouvez la consulter en cliquant sur votre <a href="www.herocall.fr">espace personnel</a>.
+    </p>
+    <p>
+        Cordialement,
+        <br />
+        L'équipe de HeroCall
+    </p>
+</div>
+
+
+